.contenedor-tarjeta{
    width: 100%;
    height: 100%;
    padding: 5px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    z-index: 100;
    top: 0;
    backdrop-filter: blur(2px);
    
    
    
}
@font-face {
    font-family: 'greek'; 
    src: url('../fuentes/Greek-Freak.ttf') format('truetype'); 
}
.icono{
    width: 80px;
    height: 80px;
    mix-blend-mode: difference;
    color: rgb(255, 255, 255);
    filter: drop-shadow(2px 4px 6px rgb(12, 12, 12));
    background-color:rgba(68, 42, 183, 0.297);
    border-radius: 10px;
}

.nombre-ciudad{
    font-size: 50px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.808);
    mix-blend-mode: difference;
    font-family: greek;
    background-color:rgba(68, 42, 183, 0.297);
    border-radius: 10px;
    padding: 3px;

}

.icono-temperatura-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    p{
        font-size: 50px;
        color: rgb(255, 255, 255);
        text-shadow: 2px 0px 4px rgb(0, 0, 0);
        mix-blend-mode: difference;
        font-family: greek;
        width: 170px;
        text-align: center;
        background-color:rgba(68, 42, 183, 0.297);
        border-radius: 10px;
        
    }
    .temperatura-medida{
        font-size: 50px;
        color: white;
        text-shadow: 2px 0px 4px rgb(0, 0, 0);
        font-family: greek;
        border: none;
        text-align: center;
        padding: 3px;
        border-radius: 10px;
        background-color: transparent;
    }
}
