.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Hace que el loader ocupe toda la altura de la página */
}

.spinner {
    border: 8px solid #c9f8fb; /* Borde exterior */
    border-top: 8px solid #142251; /* Borde superior que será animado */
    border-radius:50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
